#map {
    width: 600px;
    height: 500px;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
    background: grey;
  }
  .top-container {
    text-align: center;
    height: 200px;
  }
  .content {
    position: absolute;
    padding: 0px 3.8rem 0 3.8rem;
    margin-top: 20px;
    color: #ffffff;
    right: 0px;
    left: 0px;
    z-index: 2;
  }
  .content > h1 {
    padding-bottom: 10px;
  }
  .content > h1 > span {
    color: #fda704;
  }
  .content > p {
    font-size: 18px;
  }
  .content > p > span {
    font-weight: 700;
  }
  .card > p > a {
    position: absolute;
    bottom: 7%;
    left: 35%;
    color: #f7a101;
    text-decoration: none;
  }
  .card > p > a:hover {
    color: #f1f1f1;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 125vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
  }
  .background-img {
    background-image: url(4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 125vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: -2;
  }
  .background-img:after {
    background: rgba(0, 0, 0, 0.5);
  }
  .bottom-container {
    display: flex;
    justify-content: space-between;
    margin: 4.4rem 6.5rem 0 6.5rem;
    position: relative;
    z-index: 2;
  }
  .mapquest > img {
    width: 100%;
    height: 100%;
  }
  .card {
    position: relative;
    margin-top: 40px;
    width: 340px;
    box-shadow: 0 0 20px #00000070;
    background: #2c3e50;
    padding: 1.25rem 2.5rem 4.4rem 2.5rem;
    color: aliceblue;
    height: 320px;
  }
  .save-box {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #9fbaa8, #31354c);
  }
  .save-btn {
    color: #bac6d4;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: whitesmoke;
  }
  .input-box {
    display: flex;
    justify-content: space-between;
  }
  .textb {
    border: none;
    background: none;
    outline: none;
    padding: 0 6px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 200px;
  }
  /* .save-form:hover > .textb {
    width: 182px;
    padding: 0 6px;
  } */
  /* .save-form:hover > .save-btn {
    background: whitesmoke;
  } */
  
  /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 175px;
    height: 25px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .close-input {
    font-size: 11px;
    padding-left: 12px;
    line-height: 0px;
    margin-bottom: 0px;
    position: absolute;
    padding-bottom: 0px;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  .popup .hide {
    visibility: hidden;
  }
  
  /* media screen resize */
  @media screen and (max-width: 1200px) {
    .content {
      padding: 0px 1.8rem 0 1.8rem;
    }
    .card {
      padding: 1.25rem 1.5rem 4.4rem 1.5rem;
    }
    .bottom-container {
      margin: 7rem 2rem 0 2rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .bottom-container {
      flex-direction: column;
      align-items: center;
      margin: 8.5rem 1.5rem 2rem 1.5rem;
    }
    #map {
      width: 700px;
      height: 350px;
      margin-bottom: 1rem;
    }
    .background-img {
      height: 170vh;
    }
    .overlay {
      height: 170vh;
    }
    .card {
      padding: 1.25rem 2.5rem 4.4rem 2.5rem;
    }
  }
  @media screen and (max-width: 720px) {
    .bottom-container {
      margin: 9.5rem 1.5rem 2rem 1.5rem;
    }
    #map {
      width: 550px;
      height: 450px;
    }
    .background-img {
      height: 140vh;
    }
    .overlay {
      height: 140vh;
    }
    .card {
      padding: 1.25rem 1rem 4.4rem 1rem;
    }
  }
  @media screen and (max-width: 414px) {
    .bottom-container {
      margin: 16.5rem 0.5rem 2rem 0.5rem;
    }
    #map {
      width: 350px;
      height: 400px;
    }
    .background-img {
      height: 210vh;
    }
    .overlay {
      height: 210vh;
    }
    .card {
      padding: 1.25rem 1rem 4.4rem 1rem;
      width: 310px;
    }
  }
  
  /* Adding animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  