#map {
    width: 600px;
    height: 600px;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", sans-serif;
    background: grey;
}
button > svg{
    pointer-events: none;
}
button{
    color: #fff;
    background: #2c3e50;
}
/* button:hover{
    color: #2c3e50;
    background: #fff;
} */
.edit-item{
    margin-right: 4px;
}
.locations{
    position: relative;
    width: 400px;
}
ul{
    position: relative;
    width: 400px;
    margin: 6px auto 0;
    padding: 0px;
    box-sizing: border-box;
}
ul li{
    display: flex;
    background: rgba(44, 62, 80, 1);
    padding: 10px 20px;
    margin: 5px 0;
    transition: .5s;
    color: #fff;
}
ul li span:nth-child(1){
    width: 310px;
}
ul li span:nth-child(2){
    width: 100px;
    text-align: right;
}
ul li span:nth-child(3){
    width: 70px;
    text-align: right;
}

.top-container{
    text-align: center;
    height: 200px;
}
.content{
    position: absolute; 
    padding: 0px 60px 0px 60px;
    margin-top: 20px;
    color: #ffffff;
    right: 0px;
    left: 0px;
    z-index: 2;
}
.content > h1{
    padding-bottom: 10px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 140vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
}
.background-img{
    background-image: url(../4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: -2;
}
.background-img:after {
    background: rgba(0, 0, 0, 0.5);
}
.bottom-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 135px;
    margin: 40px 81px 0px 81px;
    position: relative;
    z-index: 2;
}

.mapquest > img{
    width: 100%;
    height: 100%;
}
#user_input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: .3s;
    margin-bottom: 10px;
}
#user_input:focus{
    border-color: #fda704;
    box-shadow: 0 0 8px 0 #fda704;;
}